<div class="left">
  
    <input type="text" placeholder="name" #name>
    <input type="text" placeholder="url" #url>
  
    <button (click)="addTutorial(name.value,url.value)">Add a Tutorial</button>
  </div>